version: '3.8'

services:
  rbi-airflow:
    image: mugil6/rbi-inflation-monitor:latest
    container_name: rbi-airflow
    ports:
      - "8080:8080"
    # This is the critical fix: It loads your .env file into the container
    env_file:
      - .env
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      # Explicitly mapping them ensures they are available to the OS
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
    volumes:
      - ./dags:/opt/airflow/dags
      - ./model:/opt/airflow/model
      - ./logs:/opt/airflow/logs
    command: >
      bash -c "airflow db init && 
      airflow users create --username admin --firstname Admin --lastname User --role Admin --email admin@example.com --password admin || true && 
      (airflow webserver & airflow scheduler)"