name: Deploy to Docker Hub

on:
  push:
    branches:
      - main
    paths:
      - 'Dockerfile'
      - 'dags/**'
      - 'model/**'
      - 'app/**'
      - 'requirements.txt'
      - '!README.md'
      - '!.gitignore'
      - '!seed_data.py'

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: mugil6/rbi-inflation-monitor:latest